[Unit]
Description=Run AITA daily archival PostgreSQL backup

[Timer]
OnCalendar=*-*-* 23:55:00
RandomizedDelaySec=90s
AccuracySec=1min
Persistent=true
Unit=aita-backup-daily.service

[Install]
WantedBy=timers.target
