<configuration scan="true" scanPeriod="30 seconds">
    <property name="AITA_LOG_DIR" value="${AITA_LOG_DIR:-${user.home}/.aita/logs/server}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{36} - %msg%n%ex</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${AITA_LOG_DIR}/aita-server.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{60} - %msg%n%ex</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${AITA_LOG_DIR}/aita-server.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>16MB</maxFileSize>
            <maxHistory>21</maxHistory>
            <totalSizeCap>512MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="io.netty" level="WARN" />
    <logger name="org.flywaydb" level="INFO" />
    <logger name="com.zaxxer.hikari" level="INFO" />
    <logger name="Exposed" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
